
SeniorProjectPrototype/.vs/SeniorProjectPrototype/v15/Server/sqlite3/storage.ide-shm
SeniorProjectPrototype/.vs/SeniorProjectPrototype/v15/.suo
SeniorProjectPrototype/.vs/SeniorProjectPrototype/v15/.suo
SeniorProjectPrototype/.vs/SeniorProjectPrototype/v15/Server/sqlite3/storage.ide-shm
SeniorProjectPrototype/.vs/SeniorProjectPrototype/v15/Server/sqlite3/storage.ide-wal
*.ide-shm
*.cache
SeniorProjectPrototype/.vs/SeniorProjectPrototype/v15/.suo
*.ide-shm
*.baml
*.lref
